# PyCharm
.idea/

# VSCode
.vscode/

# Python virtualenv environment folders
env/
env3/
.env/
venv/
.venv/

# Bot local files
*.db
store/

# Python
__pycache__/

# Config files (except samples)
config.yaml
plugins/*.yaml
plugins/*/*.yaml
!plugins/*/*.sample.yaml

# Plugin data
plugins/*.pkl
plugins/*.json
plugins/*/*.json

# Log files
*.log

# bot pics
*.png
*.xcf

# other stuff
*-local*

# test plugins
plugins-*/